/* FONTS START*/
// OpenSans-Bold

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/Bold/OpenSans-Bold.eot');
	src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open_Sans/Bold/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/Open_Sans/Bold/OpenSans-Bold.woff') format('woff'),
		url('../fonts/Open_Sans/Bold/OpenSans-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}

// OpenSans-Regular

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/Regular/OpenSans-Regular.eot');
	src: url('../fonts/Open_Sans/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open_Sans/Regular/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/Open_Sans/Regular/OpenSans-Regular.woff') format('woff'),
		url('../fonts/Open_Sans/Regular/OpenSans-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

// OpenSans-SemiBold

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/SemiBold/OpenSans-SemiBold.eot');
	src: url('../fonts/Open_Sans/SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open_Sans/SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/Open_Sans/SemiBold/OpenSans-SemiBold.woff') format('woff'),
		url('../fonts/Open_Sans/SemiBold/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

// OpenSans-SemiBoldItalic

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/SemiBoldItalic/OpenSans-SemiBoldItalic.eot');
	src: url('../fonts/Open_Sans/SemiBoldItalic/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Open_Sans/SemiBoldItalic/OpenSans-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/Open_Sans/SemiBoldItalic/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('../fonts/Open_Sans/SemiBoldItalic/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
/* FONTS END*/
/* ==========================================================================
	 GLOBAL STYLES
	 ===========================================================================*/

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

html{
	font-size: 100%;
	height: 100%;
	min-width: 300px;
	-webkit-tap-highlight-color: transparent;
}
.container{
	width: 100%;
	padding:0 20px;
}

/* list */
nav ul,
ul{
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style: none;
}

nav ul li,
ul li{
	list-style: none;
	list-style-type: none;
}

input,
button,
select,
textarea{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

[role="button"]{
	cursor: pointer;
}

/* clearfix */

.clearfix{
	clear: both;
}

.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

img,
video{
	max-width: 100%;
	height: auto;
}


/* FOR SAFARI */

input,
textarea{
	-webkit-overflow-scrolling: touch;
}

[type=search]{
		 -moz-appearance: none;
	-webkit-appearance: none;
					appearance: none;
}

/* address */

address{
	font-style: normal;
}

body{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0 auto;
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1000px;
}
h3 {
	color: #13b5c6;
	font-size:24px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	line-height: 48px;
}

.title{
	font-family:"Open Sans", sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	color:#13b5c6;
	margin: 0;
	position: relative;
	padding-top: 70px;
}

.title:after {
	content:'';
	width: 55px;
	height: 3px;
	background-color: #64d3a9;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 30px;
}
/* end global styles */

/* Header */

.header {
	position:absolute;
	top:0;
	left:0;
	width: 271px;
	height: 651px;
	background-image: -webkit-linear-gradient(bottom, #0e88a7 0%, #66d4a9 100%);
	background-image: -o-linear-gradient(bottom, #0e88a7 0%, #66d4a9 100%);
	background-image: linear-gradient(to top, #0e88a7 0%, #66d4a9 100%);
	z-index:70;
}

.header-logo img {
	display: block;
	margin:29px 0 0 73px;
	width: 114px;
	height: 52px;
}

.header-menu {
	box-sizing:border-box;
	font-family: "Open Sans - Semibold";
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
	text-transform: uppercase;
	text-decoration:none;
	text-align: center;
	margin-top: 68px;
}

.header-menu ul a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fdfdfd;
	text-decoration: none;
}

.header-menu ul a:hover {
	text-decoration: underline;
}

.header-contacts {
	font-family: "Open Sans";
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	margin:75px 5px 0 0;
}

.header-contacts a {
	color: #fdfdfd;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

.header-address {
	color: #fdfdfd;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin:9px 2px 0 0;
	text-align: center;
}

/* end header */

/* SLIDER */

.slider-item {
	height:651px;
	overflow:hidden;
	background: url(../images/bg-slide.jpg) no-repeat right;
	background-size: cover;
	position:relative;
}
.slick-slide img {
	max-width: none;
	height: 100%;
}
.slider-wrap {
	width:100%;
	padding-left:271px;
	position:relative;
}

.slider-description {
	position: absolute;
	top: 49%;
	left: 80px;
	right: 80px;
	transform: translateY(-50%);
}
.slider-description h2 {
	color: #13b5c6;
	font-family: "Open Sans", sans-serif;
	font-size: 48px;
	font-weight: 400;
	position:relative;
}

.slider-description h2:before {
	content:'';
	display:block;
	width:55px;
	height: 3px;
	background-color: #64d3a9;
	position:absolute;
	top:-30px;
	left:0;
}

.slider-description p {
	color: #b0afaf;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.slider-description .btn {
	line-height: 43px;
	margin-top:8px;
	outline:none;
}
.slick-dots {
	position: absolute;
	bottom: 44px;
}

.slick-dots li {
	margin:0 2px;
}

.slick-dots li.slick-active button:before{
	color: #108aa7;
}

.slick-dots li button:before {
	color: #108aa7;
}

/* BUTTONS */

.btn {
	min-width: 194px;
	height: 42px;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin-top: 15px;
	border: none;
	text-transform: uppercase;
	display:inline-block;
	max-width:100%;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
	line-height: 45px;
}

.btn_blue {
	background-color: #13b5c6;
	color: #fdfdfd;
}
.btn_blue:hover{
	background-color:#49b2bd;
}

.btn_white {
	background-color: #fdfdfd;
	color: #13b5c6;
}

.btn_white:hover{
	background-color:#dcd8d8;
}

button:active, button:focus {
	outline: none;
}

.btn-menu{

	display: none;
}

.btn_video {
	margin-top: 26px;
}

.to-down {
	color: #13b5c6;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 10px;
	font-weight: 400;
	text-transform:uppercase;
	transform: rotate(-90deg);
	display:inline-block;
	position: absolute;
	right:4px;
	bottom:121px;
	text-decoration: none;
}

.to-down:before {
	background:url(../images/arrow.svg);
	width: 20px;
	height: 17px;
	content:'';
	display:inline-block;
	transform: rotate(-270deg);
	position:absolute;
	bottom:-4px;
	left:-30px;
}

.burger {
	display: none;
	position: absolute;
	padding: 0;
	right: 24px;
	top: 42px;
	z-index:80;
	width: 22px;
	height: 22px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.burger .icon {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	color:#fff;
	transform:translateY(-50%);
	background-color: currentColor;
}
.btn-close{
	position: fixed;
	color: #fff;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	top:29px;
	right: 10px;
	padding: 0;
	width: 46px;
	height: 35px;
}
/* end buttons */

/*SECTION TECHNOLOGY START*/
.technology {
	width: 100%;
	background-color: #f8f8f8;
	position: relative;
	padding-bottom: 70px;
}

.technology-block {
	float: left;
	width: 45%;
	height: 360px;
	margin-top:83px;
	background-size: cover;
}

.list-block {
	float: right;
	width: 50%;
	margin: 65px 13px 0 0;
}

.list-block ul li {
	color: #b0afaf;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	font-family: "Open Sans", sans-serif;
	position: relative;
	padding:7px;
	padding-left: 30px;
}

.list-block ul {
	position: relative;
}

.list-block ul li:before {
	position: absolute;
	content:'';
	width: 19px;
	height: 19px;
	background: url(../images/list-teeth.png);
	left:0;
	top:9px;
}

/* SECTION TECHNOLOGY END */


/* breadcrumbs */
.breadcrumbs {
	padding: 0;
	margin: 0;
}
.breadcrumbs li{
	display: inline-block;
	color:#ccc;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.breadcrumbs li:not(:last-child):after {
	content: '/';
	display: inline-block;
	margin: 0 5px;
	color:#ccc;
}
.breadcrumbs a {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #ccc;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

/* SECTION ARTICLES START */
.articles{
	width: 100%;
	padding:26px 70px 80px 31px;
}

.answears li {
	color: #333;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	position: relative;
	padding: 0 0 20px 30px;
}

.articles-item p {
	color: #333;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}

.articles-item {
	padding-top: 13px;
}

.answears li:before{
	content: "";
	position: absolute;
	left: 0;
	top:12px;
	width: 22px;
	height: 2px;
	background-color: #0e88a7;
}
.articles {
	padding-bottom: 65px;
}
/* SECTION ARTICLES END */
/* SECTION SERVICES START */
.services{
	background-color: #f8f8f8;
	height: auto;
	padding: 29px 0 70px 0;
}
.services-banner {
	height: auto;
	border-radius: 3px;
	background-color: #13b5c6;
	margin:0 10px 20px;
}

.services-image {
	width: 32%;
	float:left;
	padding: 60px;
}

.services-banner p {
	float: right;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding: 33px 57px 29px 0;
	width: 68%;
}

.services-block{
	height: auto;
	background-color: #fff;
	margin:0 10px;
}

.services-block__name {
	font-family: "Open Sans", sans-serif;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 40%;
	padding: 33px 0 0 50px;
}

.services-block__name p {
	padding: 18px 0 0 52px;
}
.services-block-right{
	width: 60%;
	float: right;
	text-align: right;
	padding: 8px 0;
}
.services-block__price {
	color: #13b5c6;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 16px;
	display: inline-block;
	padding: 11px 26px 8px 1px;
}

.services-block-right .btn{
	margin: 0 20px 0 30px;
}
/* SECTION SERVICES END */
/*SECTION FORM-BLOCK START*/
.form {
	padding: 8px 18px 0 0;
}

.form-block {
	padding: 75px 0 77px 0;
	width: 100%;
	background: url(../images/form-bg.jpg) no-repeat center;
	background-size: cover;
}

.form-block-left {
	width: 60%;
	text-align: center;
	padding: 0 0 0 12px;
	float:left;
	border-right: 1px solid rgba(225, 225, 225, 0.2);
}

.form__title {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: 400;
	color:#fff;
	margin-bottom: 32px;
}

.form-input{
	width: 100%;
	height: 42px;
	border-radius: 3px;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	outline: none;
	margin-bottom: 15px;
	padding-left: 20px;
}

.error{
	border-color: #a07272;
}

.form-input:focus + label.error{
	opacity: 0;
}

.form-input.error::-webkit-input-placeholder{
	color: transparent;
	-webkit-transition: all .3s;
	transition: all .3s;
}

input::-webkit-input-placeholder {
	color: #fff;
}

:focus::-webkit-input-placeholder{
	color: transparent;
}

.form p {
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight:400;
	font-style: oblique;
	margin: 0;
	margin-top: 3px;
}

.form-block-right{
	width: 26%;
	text-align: left;
	float: right;
	margin-right: 34px;
}

.form__title{
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 25px;
}

.form-block-right p {
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 35px;
}

label.error{
	color:#bd4f4f;
	font-size: 12px;
	position: absolute;
	top: 16px;
	left: 23px;
	pointer-events: none;
}

.form-group{
	position: relative;
	width: 100%;
	max-width: 311px;
	margin: 0 auto;
}
/* SECTION FORM-BLOCK END */

/*SECTION DOCTOR START*/
.doctor{
	background-color: #f8f8f8;
	padding-top: 45px;
	padding-bottom: 30px;
}

.doctor-text{
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color:#333;
	border-radius: 3px;
	background-color: #fff;
	font-style:italic;
	text-align: center;
	margin:0 20px;
	padding:22px 8px;
}

.doctor-avatar {
	margin-top: 40px;
	text-align: center;
	width: 177px;
	height: 177px;
	margin:40px auto 0;
	overflow: hidden;
	border-radius:50%;
}
.doctor-avatar:hover{
	transform:scale(1.2);
	transition: all .3s;
}
.doctor-bio {
	margin-top: 20px;
	text-align: center;
}
.doctor-bio-down__name{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #13b5c6;
	margin: 0;
}

.doctor-bio-down__prof{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #b0afaf;
	margin:0;
}

.doctor-bio button{
	margin-top: 20px;
}
/* SECTION DOCTOR END */

/*SECTION TABLE START*/

.table{
	padding: 65px 0 80px 0;
}
table{
	width: 100%;
	padding-bottom: 80px;
	border-collapse: collapse;
	border-style: hidden;
}
.table h2{
	margin-bottom: 94px;
	padding: 0 6px;
}
table th{
	color: #13b5c6;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 4px;
}
tbody td{
	font-family: "Open Sans",sans-serif;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	padding: 19px 80px 13px 30px;
}

tbody tr:nth-child(odd){
	background-color: #f8f8f8;
	width: 100%;
}
thead th{
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 15px;
}
th:first-child{
	text-align: left;
}
th:last-child{
	text-align: right;
}
th:last-child,
td:last-child{
	width: 209px;
}
td:first-child{
	text-align: left;
}
td:last-child{
	text-align: right;
}
/*SECTION TABLE END*/

/*SECTION CONTACTS START*/
.contacts{
	background-color:#f8f8f8;
	padding-top: 32px;
}
.contacts h2{
	padding-top: 17px;
}

.contacts .title:after{
	margin-bottom: 50px;
}

.contacts-block{
	margin-top: 83px;
}
.contacts-block-map{
	height: 480px;
	width: 67%;
	float:left;
}
.contacts-block-info{
	float: right;
	width: 33%;
}
.contacts-block-info-item{
	height: 160px;
}
.contacts-block-info-item:nth-child(odd){
	background-color: #fff;
}
.map{
	display: block;
	width: 100%;
	height: 480px;
}
.contacts-block-info-item-text{
	padding: 50px 24px 40px 60px;
}
.contacts-block-info-item-text_h3{
	font-family: "Open Sans", sans-serif;
	color: #13b5c6;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	padding: 0;
	margin: 0;
}
.contacts-block-info-item-text_p a{
	color: #333333;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	line-height: 24px;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.contacts-block-info-item-text_p_span a{
	color: #13b5c6;
	font-size: 14px;
}
/* SECTION CONTACTS END*/

/*FOOTER START*/
.footer{
	background-color: #f4f6f5;
	padding-bottom: 30px;
}
.footer .container{
	padding:0 54px;
}
.footer-top{
	padding: 30px 0 30px 0;
	border-bottom: 1px solid #fff;
}

.footer-top-nav{
	width: 37%;
	float: right;
}
.footer-top-nav li a{
	color: #13b5c6;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
	text-decoration: none;
}
.footer-top-nav__list{
	float: left;
	padding-left: 95px;
}
.footer-top-contacts{
	float: right;
	width: 26%;
	padding-left: 40px;
}
.footer-top-contacts p{
	font-family: "Open Sans",sans-serif;
	margin: 0;
	padding-bottom: 8px;
	padding-left: 18px;
}

.footer-top-contacts__tel a{
	font-weight: 400;
	line-height: 30px;
	font-size: 21px;
	color: #333333;
	text-decoration: none;
}
.footer-top-contacts__adres{
	font-weight: 600;
	line-height: 24px;
	font-size: 14px;
	color: #333333;
}
.footer-top-shedule{
	float: left;
	width: 30%;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}
.footer-top-shedule {
	padding:8px 0 40px 0;
	color: #333;
	font-weight: 600;
	width: 36%;
}
.footer-top-shedule-mobile{
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #333;
	font-weight: 600;
	display: none;
}
.footer-top-nav__list:first-child{
	padding-left: 0;
}
.footer-top-rights{
	font-weight: 400;
	color: #999;
	width: 28%;
}
.footer-bottom{
	color: #999;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 23px;
}
/*FOOTER END*/

/*MODAL START*/
.modal {
	max-width: 621px;
	max-height: 400px;
	background: url(../images/form-bg.jpg) no-repeat center;
	text-align: center;
	position:fixed;
	left: 0;
	top: 50%;
	z-index: 10000;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
	visibility: hidden;
	opacity: 0;
	pointer-events:none;
	transition:all 0.3s;
}
.modal.open{
	opacity: 1;
	visibility: visible;
	pointer-events:auto;
	transition:all 0.3s;
}
.modal.open + .modal-bg{
	opacity: 1;
	visibility: visible;
	pointer-events:auto;
	transition:all 0.3s;
}
.modal-title{
	margin-top: 70px;
	margin: 0 auto;
}
.modal .form{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 45px;
}
.modal-bg{
	background-color: rgba(255, 254, 254, 0.85);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	z-index: 9000;
	opacity: 0;
	visibility: hidden;
	pointer-events:none;
	transition:all 0.3s;
}
.modal .close.icon:before{
	width: 30px;
	height: 2px;
}
.modal .close.icon:after{
	width: 30px;
	height: 2px;
}
/*MODAL END*/

/*CLOSE START*/
.close.icon {
	width: 30px;
	height: 22px;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
}

.close.icon:before {
	content: '';
	position: absolute;
	top: 10px;
	width: 21px;
	height: 1px;
	background-color: currentColor;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 0;
	right: 0;
	margin: 0 auto;
}

.close.icon:after {
	content: '';
	position: absolute;
	top: 10px;
	width: 21px;
	height: 1px;
	background-color: currentColor;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 0;
	right: 0;
	margin: 0 auto;
}

.menu.icon {
	width: 17px;
	height: 1px;
}

.menu.icon:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 17px;
	height: 1px;
	background-color: currentColor;
}

.menu.icon:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	width: 17px;
	height: 1px;
	background-color: currentColor;
}
/*CLOSE END*/

/* MEDIA MIN-WIDTH 768 START */
@media screen and (min-width: 768px){
	.doctor-text{
		width: 69%;
		float: right;
		padding-right: 26px;
		text-align: left;
		position: relative;
		z-index: 2;
		margin: 42px 39px 0 0;
		padding: 15px 10px 20px 25px;
	}

	.doctor-avatar{
		margin-top: 40px;
		text-align: center;
		position: absolute;
		left: 10px;
	}

	.doctor-bio {
		width: 69%;
		text-align: center;
		float: right;
		margin:4px 12px 0 0 ;
	}

	.doctor-bio-down{
		padding-top: 34px;
		float: left;
	}
	.doctor-bio button{
		margin: 39px 49px 0 0;
		float: right;
		margin-bottom: 43px;
	}
	.doctor-text:before{
		content: "";
		position: absolute;
		width: 33px;
		height: 33px;
		transform: translateY(-50%) rotate(45deg);
		top: 50%;
		left: -8px;
		background-color: #fff;
		z-index: -1;
	}
}

/* MEDIA MAX-WIDTH 767 START */
@media screen and (max-width: 767px) {
	.header {
		position: relative;
		width: 100%;
		height: auto;
		padding-bottom: 3px;
	}
	.header-menu {
		display: none;
	}
	.header-logo{
		display: block;
		float: left;
		text-align:left;
		width: 100%;
		margin:20px 0 20px 19px;
	}
	.header-logo img{
		height: 52px;
		margin: 0;
	}
	.to-down {
		display: none;
	}
	.header-contacts{
		padding:24px;
	}
	.slider-wrap {
		height: 398px;
		padding-left: 0px;
	}
	.slider-description{
		position: relative;
		top: 0px;
		left: 0px;
		right: 0px;
		transform: none;
		margin-top:46px;
		text-align: center;
	}
	.slider-description h2{
		font-size: 24px;
		text-align: center;
	}
	.slider-description h2:before{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.slider-description p br{
		display: none;
	}
	.slider-description p{
		position: relative;
		text-align: center;
		margin-top: 27px;
		padding:0 8px;
		max-width: 400px;
		margin: 0 auto;
	}
	.slider-description .btn {
		margin-top: 39px;
	}
	.slider-item{
		width: 320px;
		padding-top: 30px;
		height: 398px;
	}
	.slick-dots{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
	}

	.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
		transition: all 0.4s ease;
	}

	.burger{
		display: inline-block;
	}

	.header-logo {
		width: 132px;
	}
	.header-menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		padding-top: 120px;
		right: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		overflow-y: auto;
		background-image: linear-gradient(to top, #0e88a7 0%, #66d4a9 100%);
		transform: translateX(-100%);
		transition: all .3s ease;
	}
	.header-menu.open{
		transform: translateX(0%);
		transition: all .3s ease;
	}
	body.menu_open{
		overflow: hidden;
	}

	.technology{
		padding-bottom: 38px;
	}
	h2 {
		font-size: 24px;
		padding:0 30px 0 30px;
	}
	.technology-block {
		float: none;
		margin: 0 auto;
		width: auto;
		padding-top: 34px;
		text-align: center;
		height:auto;
	}
	.list-block {
		float: none;
		text-align: center;
		height: auto;
		margin-top:0;
		width: 100%;
		margin-top: 12px;
	}
	h3{
		width: 100%;
		margin: 0;
		text-align: center;
		float: none;
		line-height: 30px;
		margin-bottom: 19px;
	}
	.list-block ul {
		max-width: 320px;
		margin: 16px auto 0;
		text-align: left;
		padding-right: 0;
	}
	.list-block ul li {
		line-height: 1.2;
		padding:27px 0 0 40px;
	}
	.list-block ul li:before{
		top:28px;
	}
	.btn_video {
		text-align:center;
		margin-top: 25px;
	}
	.breadcrumbs{
		display: none;
	}
	.title {
		font-size: 24px;
		padding: 47px 0 19px;
	}
	.articles {
		padding: 26px 5px 80px 0;
	}
	.articles-item{
		padding-top: 22px;
	}
	/*services start*/
	.services {
		padding-bottom: 26px;
	}
	.services-image {
		width: 98%;
		padding: 47px;
		text-align: center;
	}
	.services-banner {
		margin: 0;
		padding-bottom: 11px;
	}
	.services-banner p {
		width: 92%;
		padding: 0 18px 16px 0;
	}
	.services-block {
		margin: 20px 0 0 0;
		padding-bottom: 32px;
	}
	.services-block__name{
		float: none;
		text-align: center;
		width: 100%;
		padding: 32px 16px 0;
	}
	.services-block__name p {
		padding: 0;
		margin-top: 31px;
	}
	.services-block-right{
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.services-block__price{
		float: none;
		text-align: center;
		padding: 10px 0 24px 0;
		display: block;
		margin: 0;
	}
	.services-block .btn {
		margin: 0 26px 0 30px;
	}
	.form{
		padding-right:3px;
	}
	.form p{
		padding: 0 12px;
	}
	.form-block{
		padding: 37px 0 11px 0;
	}
	.form-block-left{
		width: 100%;
		border-right:none;
		float: none;
		padding-top: 24px;
		padding-left: 0;
	}
	.form-block-right{
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 52px;
	}
	.form-block-right p{
		padding: 0 30px;
	}
	.form-block-right h3{
		font-size:24px;
	}
	.form__title p {
		font-size:24px;
	}
	.form-block{
		padding-top: 12px;
	}
	.doctor-text{
		position: relative;
		z-index:2;
	}
	.doctor-text:before{
		content: "";
		position: absolute;
		width: 33px;
		height: 33px;
		transform: translateY(-50%) rotate(45deg);
		left: 0;
		right: 0;
		margin: 0 auto;
		top:93%;
		background-color: #fff;
		z-index: -1;
	}
	.doctor{
		padding-bottom: 15px;
	}
	.table{
		margin: 0 0 50px 0;
		padding-bottom: 0;
	}
	tbody td{
		padding:19px 10px 13px 10px;
	}
	th:first-child{
		text-align: center;
	}
	th:last-child,
	td:last-child{
		text-align: center;
	}
	.table .container{
		padding: 0;
	}
	.contacts-block{
		margin-top: 36px;
	}
	.contacts-block-info{
		float: none;
	}
	.contacts-block-info{
		width: 100%;
		float: none;
		text-align: center;
	}
	.contacts-block-map{
		width: 100%;
		float: none;
	}
	.contacts-block-info-item-text{
		margin:0 auto;
		padding: 0 11px;
		padding-top: 50px;
	}
	.footer-top{
		text-align: center;
		padding: 37px 0 24px 0;
		border-bottom: none;
	}
	.footer-top-contacts{
		float: none;
		width: 100%;
		padding: 0;
	}
	.footer-top-nav{
		display: none;
	}
	.footer-top-shedule{
		float: none;
		width: 100%;
		padding-top: 40px;
	}
	.footer-bottom{
		display: none;
	}
	.footer-top-shedule{
		display: none;
	}
	.footer-top-shedule-mobile{
		padding: 8px 0 0 19px;
		display: block;
	}
	.footer-top-contacts button{
		margin: 33px 0 0 14px;
	}
	.footer-top-rights{
		padding-top: 47px;
		width: 100%;
	}
	.footer-top-contacts p{
		padding-left: 0;
	}
	.footer-top-shedule-mobile{
		padding-left: 0;
	}
	.footer-top-contacts button{
		margin-left: 0;
	}
}
/* MIN-WIDTH 910*/
@media screen and (min-width:910px) {
	.doctor-avatar{
		left:50px;
	}
}
/* MAX-WIDTH 911 */
@media screen and (max-width:911px) {
	.footer-top-nav__list{
		padding-left: 36px;
	}
}
/* MIN-WIDTH 767 AND MAX-WIDTH 867 */
@media screen and (max-width:867px) and (min-width: 767px){
	.footer-top-contacts{
		padding-left: 11px;
	}
}
/* MIN-WIDTH 768 AND MAX-WIDTH 968 */
@media screen and (min-width: 768px) and (max-width: 968px){
	.footer-top-contacts__tel a {
		font-size: 18px;
	}
}
/* MIN-WIDTH 868 AND MAX-WIDTH 877 */
@media screen and (max-width:877px) and (min-width: 868px){
	.footer-top-contacts{
		padding-left:37px;
	}
}